* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Architects Daughter" !important;
}

.App {
  padding: 1rem;
  min-width: 100vh;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("Components/Assets/cork_wall_background.jpg");
  background-repeat: repeat;
  border: 2rem solid black;
  border-image: url('Components/Assets/wood_frame.png') 15% 10% round;
}


h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: rgb(255, 38, 0) 1px 0 10px;
}

h1 span {
  display: block;
  color: darken(white, 20%);
  font-size: 14px;
  font-style: italic;
  height: 14px;
}